.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.optionContainer {
  max-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.optionItem,
.exportImage {
  flex: 1 1 130px;
  background-color: var(--bg-color-light);
  color: var(--text-color);
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.7rem;
}

.exportImage {
  background-color: var(--active-color);
  color: var(--bg-color-light);
  font-weight: bold;
}

.optionItem:hover,
.exportImage:hover {
  opacity: 0.5;
}
.activeButton {
  background-color: var(--primary-color);
  color: var(--bg-color-light);
}

img {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
