* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;

  /* Variables */
  --primary-color: #ffbf00;
  --text-color: #dedede;
  --active-color: #8fe688;
  --bg-color: #17171e;
  --bg-color-light: #28282f;

  --image-size: 300px;
}

html {
  font-family: sans-serif;
  background-color: var(--bg-color);
}
